<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRMeats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS\index.css">
</head>
<body>

  <!-- NAVBAR STARTS HERE -->

  <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><strong>SRM</strong> eats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a type="button" class="btn nav-item nav-link nav_button" href="explore"><img src="IMG\PNG\binocular.png" class="img_place">  Explore</a>
            <a type="button" class="btn nav_button nav-item nav-link active" href="whats"><img src="IMG\PNG\popular.png" class="img_place"> What's New</a>
            <a type="button" class="btn nav_button nav-item nav-link" href="aboutus"><img src="IMG\PNG\question.png" class="img_place"> About Us</a>
          </div>
        </div>
      </nav>

  <!-- NAVBAR ENDS HERE -->
<div class="container" style="padding-top: 5%;">
    <p style="font-weight: 100; font-size: 3vh;">Some eat to live, while others live to eat. Everyone here at SRM, day scholars or hosteliers, come under the latter category.</p>
    <p style="font-weight: 100; font-size: 3vh;">While searching for good places to eat, we have a set of criteria in mind. Great taste, affordable prices and within our reach. But it isn't always possible to have all three fulfilled. That becomes frustrating. So we, developed a system that could help you find your match and treat your taste buds well.</p>
    <p style="font-weight: 100; font-size: 3vh;">We developed, SRM Eats. A food recommendation system, where we give you the list of best places, with the tastiest food, based on the recommendations of your fellow mates.
    </p>
    <p style="font-weight: 100; font-size: 3vh;">Up until now, we have worked on the following things:
    </p>
    <ol>
        <li>The team has worked hard on making the form that covers all the cuisines, restaurants in and around SRM and having people to fill them.</li>
        <li>EDA (Exploratory Data Analysis) has been performed on the datasets so far collected.</li>
        <li>A prototype of the recommendation engine is being deployed on Spark.
        </li>
        <li>The home page of the website is ready to be presented.
        </li>
    </ol>
    <p style="font-weight: 300; font-size: 4vh;">AIMs</p>
    <ul>
      <li>Collecting more data</li>
      <li>Improving the prototype</li>
      <li>Deploying the model</li>
      <li>improving the website</li>
      <li>Final app deployment</li> 
    </ul>
    <!-- <p style="font-weight: 100; font-size: 3vh;"></p> -->
</div>
<footer class="page-footer">
  <div class="d-flex justify-content-center" style="padding-top: 7px;">
    <p>Copyrights 2020 | Contact Us | Made by the students of SRMIST | Privacy Policy</p>
  </div>
</footer>

    <!-- SCRIPT STARTS HERE --> 

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>