<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRMeats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS\index.css">
</head>
<body id="content">

  <!-- NAVBAR STARTS HERE -->
  <div id="loader"></div>
  <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/" style="color: white;"><strong>SRM</strong> eats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a type="button" class="btn nav-item nav-link nav_button active" href="explore"><img src="IMG\PNG\binocular.png" class="img_place">  Explore</a>
            <a type="button" class="btn nav_button nav-item nav-link" href="whats"><img src="IMG\PNG\popular.png" class="img_place"> What's New</a>
            <a type="button" class="btn nav_button nav-item nav-link" href="aboutus"><img src="IMG\PNG\question.png" class="img_place"> About Us</a>
          </div>
        </div>
  </nav>
  
  <!-- BODY STARTS HERE -->

  <span>
    <h1 class="explore_title"><a type="button" onclick="goBack()"><img src="SVG\back-button.svg" style="margin-bottom: 35%; padding-right: 10px;"><a>Explore</h1>
  </span>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">All-time</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">North Indian</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">South Indian</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">Continental</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">Italian</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn sub_nav_button nav-item nav-link" href="#">Chinese</a>
    </li>

  </ul>
  <p class="recom" >Showing places which serve LOREM</p>
<hr>

  <!-- NAVBAR ENDS HERE -->
<footer class="page-footer">
  <div class="d-flex justify-content-center" style="padding-top: 7px;">
    <p>Copyrights 2020 | Contact Us | Made by the students of SRMIST | Privacy Policy</p>
  </div>
</footer>



    <!-- SCRIPT STARTS HERE --> 
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <script>
var loader;

function loadNow(opacity) {
    if (opacity <= 0) {
        displayContent();
    } else {
        loader.style.opacity = opacity;
        window.setTimeout(function() {
            loadNow(opacity - 0.05);
        }, 50);
    }
}

function displayContent() {
    loader.style.display = 'none';
    document.getElementById('content').style.display = 'block';
}

document.addEventListener("DOMContentLoaded", function() {
    loader = document.getElementById('loader');
    loadNow(1);
});    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <script>
     $(window).on('load', function() { // makes sure the whole site is loaded 
     $('#status').fadeOut(); // will first fade out the loading animation 
     $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
     $('body').delay(350).css({'overflow':'visible'});
     })   
    </script> -->
</body>
</html>